{%load static%}

<head>
<h1>This is heading 1. </h1>
<p>This is some text.</p>
    <hr>
<h2>This is heading 2</h2>
<p>This is some other text.</p>
<hr>

    <title> 나의 사이트</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstra pcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jq uery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/boot strap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>

<a href="https://www.w3schools.com">html 정보 사이트로 이동합니다. </a>

<a href="http://www.naver.com"> naver 사이트로 이동합니다.</a>

<body class="container">

<i class="fa fa-cloud"></i>
<i class="fa fa-heart"></i>
<i class="fa fa-car"></i>
<i class="fa fa-file"></i>
<i class="fa fa-bars"></i>
<i>italic content</i>
	normal content
<p class="test"> for testing site.  </p>
<a href="post/new/$">여기를 클릭하세요.</a>
<img src="img_girl.jpg">
<div>

    <p> 안의 내용</p>
</div>

<button>
    누르시오.
</button>

<ol type="A">
 <li>줄바꾸기</li>
 <li>헤드라인</li>
 <li>기본태그</li>
</ol>

<input type="checkbox" class="test">
<input type="text">
<input type="radio">
<form>
    <p> 데이터를 입력하세요.</p>
    <input type="text", placeholder="여기에 적어">
    <button type="submit"> 누르시오.</button>
</form>
<ul>
    <li id="test2" >오렌지    </li>
    <li>오렌지    </li>
    <li>오렌지    </li>


</ul>

<ol>
    <li>오렌지    </li>
    <li>오렌지    </li>
    <li>오렌지    </li>

</ol>
